<header class="top-header">
  <nav class="d-flex justify-content-between">
    <div class="logo"><img src="assets/img/logo.png"></div>
    <div class="menu">
      <a routerLink="/register" *ngIf=" api.isLoggedOut() ">Register</a>
      <a routerLink="/login" *ngIf=" api.isLoggedOut() ">Login</a>
      <a routerLink="/profile" *ngIf=" api.isLoggedIn() ">Profile</a>
      <a routerLink="/" *ngIf=" api.isLoggedIn() " (click)=" api.logout() ">Logout</a>
      <a routerLink="/forum/qna">QnA</a>
      <a routerLink="/forum/freetalk">Freetalk</a>
    </div>
    <div class="menu-icon">
      <div class="size-16px">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
          />
        </svg>
      </div>
    </div>
  </nav>
</header>
