<main class="not-found-page">
    <header>
      <h1>Page not found</h1>
    </header>
    <section class="body">
      <aside class="left" *ngIf=" a.lg() ">
        <h2>Left</h2>
        not-found sidebar
      </aside>
      <section class="center content">
        Page not found
        <h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2>
        <h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2>
        <h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2>
        <h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2>
        <h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2>
        <h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2>
        <h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2>
        <h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2><h2>Page not found</h2>
      </section>
      <aside class="right" *ngIf=" a.md() ">
        <app-user-login-info-component></app-user-login-info-component>
          <h2>right</h2>
      </aside>
    </section>
    <footer></footer>
  </main>
  

