<main class="register-page">
  <header>
    <h1>Home</h1>
  </header>
  <section class="body">
    <aside class="left" *ngIf="a.lg() ">
      <h2>Left</h2>
      Home sidebar
    </aside>
    <section class="center content">
      I am home
      <img class="w-100" src="/assets/img/test.jpg">
      <h2>Center</h2><h2>Center</h2><h2>Center</h2><h2>Center</h2>
      <h2>Center</h2><h2>Center</h2><h2>Center</h2><h2>Center</h2>
      <h2>Center</h2><h2>Center</h2><h2>Center</h2><h2>Center</h2>
      <h2>Center</h2><h2>Center</h2><h2>Center</h2><h2>Center</h2>
      <h2>Center</h2><h2>Center</h2><h2>Center</h2><h2>Center</h2>
      <h2>Center</h2><h2>Center</h2><h2>Center</h2><h2>Center</h2>
      <h2>Center</h2><h2>Center</h2><h2>Center</h2><h2>Center</h2>
      <h2>Center</h2><h2>Center</h2><h2>Center</h2><h2>Center</h2>
    </section>
    <aside class="right" *ngIf=" a.md() ">
      <app-user-login-info-component></app-user-login-info-component>
        <h2>right</h2>
    </aside>
  </section>
  <footer></footer>
</main>
