<main class="login-page">
  <header>
    <h1>In login page</h1>
  </header>
  <section class="body">
    <aside class="left" *ngIf=" a.lg() ">
      <h2>Left</h2>
      In login page sidebar
    </aside>
    <section class="center content">
      <app-user-login-info-component></app-user-login-info-component>
    </section>
    <aside class="right" *ngIf=" a.md() ">
      <app-user-login-info-component></app-user-login-info-component>
        <h2>right</h2>
    </aside>
  </section>
  <footer></footer>
</main>
