<app-header-component></app-header-component>


<div class="view-meta">
  <button class="btn btn-primary" (click)=" onClickPostWrite() " *ngIf=" displayMeta ">Create a post</button>
</div>

<app-post-edit-component #editComponent
    [post_id]="post?.post_id"
    (write)=" onWrite( $event ) "
    (edit)=" onEdit( $event ) "
    (cancel)=" onCancel() "></app-post-edit-component>
<app-post-view-component #viewComponent
    [post]=" post "
    [display]="true"></app-post-view-component>
<app-post-list-component #listComponent></app-post-list-component>
